# dependencies
node_modules

# expo
android/
.expo/
dist/
web-build/
expo-env.d.ts
eas.json
metro.config.js
app.config.js

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
